[mysqld]

ssl-ca=/etc/mysql/ssl/CA/ca-cert.pem
ssl-cert=/etc/mysql/ssl/Server/server-cert.pem
ssl-key=/etc/mysql/ssl/Server/server-key.pem

tls_version = TLSv1.2,TLSv1.3

local-infile=0
performance-schema=0

collation-server = utf8mb4_unicode_ci
init-connect='SET NAMES utf8mb4'
character-set-server = utf8mb4
default-storage-engine=INNODB
sql-mode=""
old-mode=""
long_query_time=10

server-id=1
max_connections=151
query_cache_size =512M
table_open_cache=2048
tmp_table_size=1024M
thread_cache_size=10
myisam_max_sort_file_size=100G
myisam_sort_buffer_size=1G
key_buffer_size=64M
read_buffer_size=64K
read_rnd_buffer_size=256K


innodb_flush_log_at_trx_commit=1
innodb_log_buffer_size=16M
innodb_buffer_pool_size = 2G
innodb_log_file_size = 128M
innodb_autoextend_increment=64
innodb_old_blocks_time=1000
innodb_open_files=500
innodb_stats_on_metadata=0
innodb_checksum_algorithm=0

## Innodb settings to bypass error of max size 737
## Above 3 didnot work so i added below
innodb_default_row_format = 'DYNAMIC'

back_log=260
flush_time=0
join_buffer_size=512K
max_allowed_packet=268435456
max_connect_errors=100
open_files_limit=80000
query_cache_type = 1
sort_buffer_size=256K
table_definition_cache=1400
binlog_row_event_max_size=8K
sync_master_info=10000
sync_relay_log=10000

sync_relay_log_info=10000
query_cache_min_res_unit = 2K
query_cache_limit = 384K

[mysql]

#ssl-ca=/etc/mysql/ssl/CA/ca-cert.pem
#ssl-cert=/etc/mysql/ssl/Client/client-cert.pem
#ssl-key=/etc/mysql/ssl/Client/client-key.pem

##  Force TLS version for client too
#tls_version = TLSv1.2,TLSv1.3
### This option is disabled by default ##
